@import '/imports/ui/stylesheets/mixins/_indicators';

.switch {
    &:hover {
        @include highContrastOutline();
    }

    &:focus,
    &:focus-within {
        @include highContrastOutline();
        outline-style: solid;
    }
}

.invertBackground {
    background-color: #D1D1EE !important;
    &.checked {
        background-color:  #006BFF!important;
    }
}
