@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/mixins/_indicators";

:root {
    --poll-column-amount: 2;
    --poll-blue: #1A73D4;
    --poll-header-offset: -0.875rem;
}

.closeBtn {
    position: relative;
	> i {
        color: var(--color-text);
	}
}

.btn {
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
}

.hideBtn {
    position: relative;
    background-color: var(--color-white);
    display: block;
    margin: var(--border-size-large);
    margin-bottom: var(--border-size);
    padding-left: 0;
    padding-right: inherit;

    [dir="rtl"] & {
      padding-left: inherit;
      padding-right: 0;
    }

    > i {
        color: var(--color-gray-dark);
        font-size: smaller;

        [dir="rtl"] & {
            -webkit-transform: scale(-1, 1);
            -moz-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }
    }

    &:hover {
        background-color: var(--color-white);
    }
  }

.customBtn {
    width: 100%;
}

.customInputWrapper {
  width: 100%;
  margin-top: var(--md-padding-y);
  
  > Button {
    width: 100%;
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
  }
}

.pollInput {
  > input {
    width: 100%;
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
    height: 2.5rem;
    background-color:#f2f2ff;
  }

  > input::placeholder {
    color: #aaaacc;
    opacity: 1; /* Firefox */
  }
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(170,170,204,0.30);
    height: 3.4rem;
}
.boxContent{
  padding: 1rem;
  padding-top: 0;
}
.instructions {
  font-size: 0.875rem;
  color: #676788;
  line-height: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--poll-column-amount), 1fr);

    > pollBtn:nth-child(odd) {
        grid-column: 1;
    }

    > pollBtn:nth-child(even) {
        grid-column: var(--poll-column-amount);
    }
}

.pollBtn:nth-child(even) {
    margin-right: inherit;
    margin-left: var(--sm-padding-y);

    [dir="rtl"] & {
        margin-right: var(--sm-padding-y);
        margin-left: inherit;
    }
}

.pollBtn:nth-child(odd) {
    margin-right: var(--sm-padding-y);
    margin-left: inherit;

    [dir="rtl"] & {
        margin-right: inherit;
        margin-left: var(--sm-padding-y);
    }
}

.customBtn:hover,
.pollBtn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);

    > span {
        color: var(--color-white);
        opacity: 1;
    }
}

.customBtn,
.pollBtn {
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
    height: 2.688rem;
    opacity: 1;
    color: #676788;
    background: #f2f2ff;
    border-radius: 0.25rem;
    > span {
        color: var(--color-gray-gray);
    }

    > span:hover {
        color: var(--color-white);
        opacity: 1;
    }
}

.customBtn:active,
.pollBtn:active {

    background-color: var(--color-blue);

    > span {
        color: var(--color-white);
    }
}

.customBtn:focus,
.pollBtn:focus {
    background-color: var(--color-blue);

    > span {
        color: var(--color-white);
    }
}

.input {
 
    &:hover,
    &:focus {
        @include highContrastOutline();
    }

    &:focus {
      background: #ffffff;
      border: 0.063rem solid #006bff;
      border-radius: 0.313rem;
    }
    
    margin: 0;
    color: var(--color-text);
    background: var(--color-white);
    font-size: var(--font-size-small);
    border: 1px solid rgba(170,170,204,0.30);
    border-radius: var(--border-radius);
    padding: .3rem * 1 .3rem * 0.25;
    padding-left: var(--lg-padding-y);

    [dir="rtl"] & {
    	padding: .3rem * 1 .3rem * 0.25;
        padding-right:var(--lg-padding-y);
    }
}

.noSlidePanelContainer {
    color: var(--color-gray-drak);
    text-align: center;
}