@font-face {
  font-family: 'bbb-icons';
  src: url('/fonts/BbbIcons/iconfont.woff?j1ntjp') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="ilake-"], [class*=" ilake-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bbb-icons' !important;
  speak: none;
  position: relative;
  /*top: 1px;*/
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  text-align: center;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ilake-user:before {
  content: "\e687";
}

.ilake-left_arrow:before {
  content: "\e6c1";
}

.ilake-save_chat:before {
  content: "\e6c2";
}

.ilake-right_arrow:before {
  content: "\e6c3";
}

.ilake-close:before {
  content: "\e6c4";
}

.ilake-3:before {
  content: "\e6c5";
}

.ilake-3434:before {
  content: "\e6c6";
}

.ilake-xiala1:before {
  content: "\e6c7";
}

.ilake-xiala2:before {
  content: "\e6c8";
}

.ilake-copy:before {
  content: "\e6c9";
}

.ilake-settings:before {
  content: "\e6ca";
}

.ilake-delete_chat:before {
  content: "\e6cb";
}

.ilake-fullscreen:before {
  content: "\e6cc";
}

.ilake-biaozhu_jiantou:before {
  content: "\e67c";
}

.ilake-rectangle_tool:before {
  content: "\e67d";
}

.ilake-text_tool:before {
  content: "\e67e";
}

.ilake-circle_tool:before {
  content: "\e67f";
}

.ilake-line_tool:before {
  content: "\e680";
}

.ilake-triangle_tool:before {
  content: "\e681";
}

.ilake-chexiao:before {
  content: "\e682";
}

.ilake-creatroom:before {
  content: "\e683";
}

.ilake-send:before {
  content: "\e684";
}

.ilake-polling:before {
  content: "\e685";
}

.ilake-sharevideo:before {
  content: "\e686";
}

.ilake-undo:before {
  content: "\e688";
}

.ilake-group_chat:before {
  content: "\e689";
}

.ilake-guanyu:before {
  content: "\e68a";
}

.ilake-rooms:before {
  content: "\e68b";
}

.ilake-desktop_off:before {
  content: "\e68c";
}
.ilake-desktop:before{
  content: "\e68c";
}
.ilake-more:before {
  content: "\e68d";
}

.ilake-fit_to_width:before {
  content: "\e68e";
}

.ilake-network:before {
  content: "\e68f";
}

.ilake-hand:before {
  content: "\e690";
}

.ilake-delete:before {
  content: "\e691";
}

.ilake-substract:before {
  content: "\e692";
}

.ilake-application:before {
  content: "\e693";
}

.ilake-huiyizhuangtai:before {
  content: "\e694";
}

.ilake-cl:before {
  content: "\e695";
}

.ilake-shortcuts:before {
  content: "\e696";
}

.ilake-video_off:before {
  content: "\e697";
}
.ilake-video:before{
  content: "\e697";
}
.ilake-kaiqimaikefeng:before {
  content: "\e698";
}

.ilake-daochubiji:before {
  content: "\e699";
}

.ilake-time:before {
  content: "\e69a";
}

.ilake-renyuanzhuangtai_jushou:before {
  content: "\e69b";
}

.ilake-xiaogongjukuozhan:before {
  content: "\e69c";
}

.ilake-confused:before {
  content: "\e69d";
}

.ilake-thumbs_down:before {
  content: "\e69e";
}

.ilake-clear_status:before {
  content: "\e69f";
}

.ilake-plus:before {
  content: "\e6a0";
}

.ilake-toupiao:before {
  content: "\e6a1";
}

.ilake-presentation:before {
  content: "\e6a2";
}

.ilake-yingyong:before {
  content: "\e6a3";
}

.ilake-undecided:before {
  content: "\e6a4";
}

.ilake-userstatus:before {
  content: "\e6a5";
}

.ilake-minus:before {
  content: "\e6a6";
}

.ilake-happy:before {
  content: "\e6a7";
}

.ilake-add:before {
  content: "\e6a8";
}

.ilake-shouqifuchuangkou:before {
  content: "\e6a9";
}

.ilake-lock:before {
  content: "\e6aa";
}

.ilake-logout:before {
  content: "\e6ab";
}

.ilake-thumbs_up:before {
  content: "\e6ac";
}

.ilake-help:before {
  content: "\e6ad";
}

.ilake-listen:before {
  content: "\e6ae";
}

.ilake-biji_bianhao:before {
  content: "\e6af";
}

.ilake-biji_jiacu:before {
  content: "\e6b0";
}

.ilake-zhengzaigongxiangchuangkou:before {
  content: "\e6b1";
}

.ilake-biji_xieti:before {
  content: "\e6b2";
}

.ilake-bianxiezimu:before {
  content: "\e6b3";
}

.ilake-biji_shanchuxian:before {
  content: "\e6b4";
}

.ilake-audio_off:before {
  content: "\e6b5";
}
.ilake-audio_on::before{
  content: "\e6b5";
}
.ilake-unmute:before {
  content: "\e6b6";
}

.ilake-pen_tool:before {
  content: "\e6b7";
}

.ilake-note:before {
  content: "\e6b8";
}

.ilake-applause:before {
  content: "\e6b9";
}

.ilake-biji_xiahuaxian:before {
  content: "\e6ba";
}

.ilake-biji_xiangmufuhao:before {
  content: "\e6bb";
}

.ilake-mute:before {
  content: "\e6b6";
}

.ilake-savename:before {
  content: "\e6bd";
}

.ilake-whiteboard:before {
  content: "\e6be";
}

.ilake-sad:before {
  content: "\e6bf";
}

.ilake-about:before {
  content: "\e677";
}

.ilake-zhuangtai_weikaishi:before {
  content: "\e678";
}

.ilake-zhuangtai_jinhangzhong:before {
  content: "\e679";
}

.ilake-zhuangtai_yijieshu:before {
  content: "\e67a";
}

.ilake-zhuangtai_yuding:before {
  content: "\e67b";
}

.ilake-lishijilu:before {
  content: "\e673";
}

.ilake-jiaruhuiyi:before {
  content: "\e674";
}

.ilake-kuaisukaishi:before {
  content: "\e675";
}

.ilake-yudinghuiyi:before {
  content: "\e676";
}

